
<mat-drawer-container class="all-screen" >
  <mat-drawer #drawer mode="push">
    <aside *ngIf="storage.isReg" class="text-white bg-dark" style="height: 100%">
      <nav class="btn-block top-nav menu">
        <div style="height: 80%">
          <button class="btn btn-dark"  name="create" routerLinkActive="activeButton" routerLink="/create">
            <mat-icon>build</mat-icon>
            Create Victorina</button>
          <br>
          <button class="btn btn-dark"  name="list" routerLinkActive="activeButton" routerLink="/list">
            <mat-icon>list</mat-icon>
            All Victorinas</button>
        </div>
        <div *ngIf="storage.isAdmin" style="margin-top: 1%">
          <h3>Send message for ADMIN:</h3>
          <input class="sender" type="text" [(ngModel)]="textMess" placeholder="Text...">
          <button class="sender btn-secondary" (click)="sendMess()">Send    <mat-icon>send</mat-icon></button>
        </div>
      </nav>
    </aside>
  </mat-drawer>
   <div class="d-flex" style="display: flex;">
     <button class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 3%; min-height: 100vh"
             [hidden]="!storage.isReg" type="button"  aria-label="Menu" (click)="drawer.toggle()">
       <mat-icon>menu</mat-icon>
     </button>

     <div class="d-flex flex-column " style="width: 100%">
       <router-outlet></router-outlet>
     </div>
   </div>
</mat-drawer-container>

