<div  class="d-flex all-screen" >
  <button *ngIf="isMobileScreen" mat-fab color="primary" aria-label="Menu"  (click)="toggleAside()">
    <mat-icon>menu</mat-icon>
  </button>
  <aside *ngIf="storage.isReg" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
         [hidden]="asideHidden" [ngStyle]="{'width': isMobileScreen ? '50%' : '20%'}">
    <nav>
      <div class="btn-block top-nav menu" >
        <button class="btn btn-dark"  name="create" routerLinkActive="activeButton" routerLink="/create">
          <mat-icon>build</mat-icon>
          Create Victorina</button>
        <br>
        <button class="btn btn-dark"  name="list" routerLinkActive="activeButton" routerLink="/list">
          <mat-icon>list</mat-icon>
          All Victorinas</button>
      </div>
      <div *ngIf="storage.isAdmin" style="margin-top: 1%">
        <h3>Send message for ADMIN:</h3>
        <input class="sender" type="text" [(ngModel)]="textMess" placeholder="Text...">
        <button class="sender btn-secondary" (click)="sendMess()">Send    <mat-icon>send</mat-icon></button>
      </div>
    </nav>
  </aside>

  <main class="d-flex flex-column " style="width: 100%">
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

