button{
  width: 98%;
  font-weight: bold;
  margin-top: 5px;
}
button:hover {
  background: #353740;
}
.main {
  background: blanchedalmond;
}

.all-screen{
  min-height: 100vh;
  min-width: 100vh;
}

div.menu{
  background-color: rgba(32,33,35,1);
  text-align: center;
  height: 80%;
}

.sender{
  width: 98%;
  margin: 1%;
}

nav{
  height: 100%;
}
