<div class="root-element">
<!--  <div *ngFor="let victorina of victorinas; let i = index;" >{{i+1}} {{victorina.name.toString()}}</div>-->
  <table class="table table-bordered border-dark">
    <thead>
    <th>Name</th>
    <th>Title</th>
    <th>Questions</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let victorina of storage.victorinas;let i = index;">
      <td> {{storage.victorinas[i].name}}</td>
      <td> {{storage.victorinas[i].title}}</td>
      <td>
          <ul *ngFor="let question of storage.victorinas[i].questions; let in = index">
            <li>
              {{in+1}} {{storage.victorinas[i].questions[in].text}}
            </li>
          </ul>
      </td>
      <td>
        <button style="margin-bottom:10px;" name="edit" [routerLink]="['edit',i]">Edit</button>
        <br>
        <button  name="delete" (click)="storage.delete(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


