<div>

  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th colspan="3">
          <app-messaging (onMessaging)="isSend=$event" [receivers]="receivers"></app-messaging>
        </th>
      </tr>
      <tr>
        <th>Id
          <input style ="margin-left: 5%" *ngIf="isSend" type="checkbox" (change)="addAll($event)" [checked] = "isAll" />
          <span *ngIf="isSend"><i> - selected: {{receivers.length}}</i></span>
        </th>
        <th>Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ch of storage.channels | paginate:{itemsPerPage: iPerPage, currentPage: curPage}; let i=index">
      <td>
        <input *ngIf="isSend" type="checkbox" (change)="addReceiver($event, storage.channels[item(i)].channelId)"
               [checked] = "receivers.includes(storage.channels[item(i)].channelId)"/>
        {{ storage.channels[item(i)].channelId }}
      </td>
      <td>{{ storage.channels[item(i)].channelName }}</td>
      <td>{{ storage.channels[item(i)].url }}</td>
    </tr>
    </tbody>
  </table>

  <div style="text-align: end">
    <pagination-controls
      (pageChange) = "curPage = $event"></pagination-controls>
  </div>

</div>
