.main{
  min-height: 100vh;
}

.header{
  height: 10vh;
  text-align: center;
}


.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
