<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="num>0">{{num}}.</span>
      Question:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <textarea name="text" [disabled]="!isActive" rows="2" [(ngModel)] = "question.text"></textarea>

      <p *ngFor="let q of question.answers; let i = index; trackBy:trackByFn ">
        <span>{{i+1}}</span>
        <input name="a-{{i}}" [disabled]="!isActive" style="margin-left: 10px" size="100" type="text"
               [(ngModel)]="question.answers[i]"  >
        <span style="margin-left: 10px">Is true!</span>
        <input name = "{{i}}" [disabled]="!isActive" style="margin-left: 10px" type="checkbox" (change)="clickNum(i)" [(ngModel)] = "checkeds[i]">
      </p>
    <mat-card-actions>
      <button mat-button class="large-font" *ngIf="isActive " (click)="clickAdd()">+</button>
      <button mat-button class="large-font" *ngIf="isActive " (click)="clickDell()">-</button>
      <span *ngIf="notReady" style="margin-left: 20px; color: red">Not ready!</span>
    </mat-card-actions>


  </mat-card-content>
  <hr>
  <mat-card-actions>
    <button mat-button *ngIf="isActive" (click)="click()" >LIKE</button>
    <button mat-button *ngIf="isActive" (click)="save()">Save</button>
    <button mat-button *ngIf="!isActive" (click)="deleteQuestion()">Delete</button>
    <button mat-button *ngIf="!isActive" (click)="isActive=true; isEdit = true">Edit</button>
  </mat-card-actions>
</mat-card>

