<div class="pad">
  <h3>{{title}}</h3>
  <div>
    <span>Name: </span>
    <input style="margin-left: 10px" size="100" type="text" name="victorina-name" [(ngModel)]="victorina.name">
    <button name = "save" class="btn btn-info" style="margin-left: 10px" (click)="save()" >Save Victorina!</button>
    <div *ngIf="isNotReady">
      <br>
      <span class="not-ready">Victorina is not Ready!</span>
    </div>
  </div>
  <div>
    <span style="margin-top: 5px">Title: </span>
    <textarea  name="victorina-title" style=" margin-left: 10px"
              rows="3" [(ngModel)]="victorina.title"></textarea>
  </div>

  <div class="mat-typography" >
    <span >Date period: </span>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input  matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input  matEndDate placeholder="End date"  [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field *ngIf="storage.person?.channelsAdmin !== num" style="margin-left: 30px">
      <mat-label>For channel</mat-label>
      <mat-select [(ngModel)]="victorina.channel">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let channel of storage.person?.channelsAdmin" [value]="channel">{{channel.channelName}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <hr>
  <h4>New question:</h4>
  <div>
    <app-question [question]="q" (quest)="addToInfo($event)" [isActive]="true"></app-question>
  </div>
  <hr>
  <h4>Saved question:</h4>
  <div *ngFor="let quest of victorina.questions; let i = index;">
    <app-question [question]="quest"  (deleteQ)="deleteQuestion(i)" [num]="i+1"
                  (quest) = "editToInfo($event, i)" [isActive]="false"></app-question>
  </div>


</div>
