.pad{
  padding-left: 10px;
}
h3{
  text-align: center;
}
textarea{
  width: 90%;
  margin-top: 20px;
  margin-left: 10px;
}

.have_margin{
  margin: 10px;
}

.not-ready{
  color: red;
  font-size: large;
}

.example-form-field {
  margin: 10px 8px 16px 0;
}

