<div>
  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th colspan="7">
          <app-messaging (onMessaging)="isSend=$event" [receivers]="receivers"></app-messaging>
        </th>
      </tr>
      <tr>
        <th>Id
          <input style ="margin-left: 5%" *ngIf="isSend" type="checkbox" (change)="addAll($event)" [checked] = "isAll" />
          <span *ngIf="isSend"><i> - selected: {{receivers.length}}</i></span>
        </th>
        <th>Name</th>
        <th>Last name</th>
        <th>User name</th>
        <th>Role</th>
        <th>Channel</th>
        <th>Quizzes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of storage.persons | paginate:{itemsPerPage: iPerPage, currentPage: curPage}; let i=index">
        <td><input *ngIf="isSend" type="checkbox" (change)="addReceiver($event, storage.persons[item(i)].id)"
                   [checked] = "receivers.includes(storage.persons[item(i)].id)" />
          {{ storage.persons[item(i)].id }}
        </td>
        <td>{{ storage.persons[item(i)].firstName }}</td>
        <td>{{ storage.persons[item(i)].lastName }}</td>
        <td>{{ storage.persons[item(i)].userName }}</td>
        <td>
          <mat-form-field  style="margin: 5px">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="storage.persons[item(i)].role">
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-fab color="primary" aria-label="Save" (click)="save(item(i))">
            <mat-icon>save</mat-icon>
          </button>
        </td>
        <td>
          <ul>
            <li *ngFor="let ch of storage.persons[item(i)].channelsAdmin; let j=index">
              <a [href]="storage.persons[item(i)].channelsAdmin[j].url">{{storage.persons[item(i)].channelsAdmin[j].channelName}}</a>
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let qu of storage.persons[item(i)].quizes; let ii=index">
              <a [routerLink]="['/statistic',getVictorinaIndex(storage.persons[item(i)].quizes[ii].victorinaId)]" >
                {{getVictorina(storage.persons[item(i)].quizes[ii].victorinaId)?.name}}</a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="arrPages === (curPage-1)">
      <tr>
        <button class="btn btn-info" (click)="getFromDb()">Get from database more</button>
      </tr>
    </tfoot>
  </table>

  <div style="text-align: end">
    <pagination-controls
      (pageChange) = "curPage = $event"></pagination-controls>
  </div>

</div>
